APP_DEBUG=true
APP_ENV=dev

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mes-d
DB_USER=root
DB_PASSWORD=

JWT_SECRET_ADMIN=your-admin-secret-key
JWT_SECRET_MOBILE=your-mobile-secret-key
JWT_EXPIRE=86400
JWT_REFRESH_EXPIRE=604800
